<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Contact Manager</title>
</head>

<body>
    <div class="top-container">
        <button id="add">Add contact</button>
        <input type="text" class="search-bar" placeholder="Search">
    </div>
    <div class="main-container">
        <% contacts.forEach(contact=> { %>
            <div class="contact-item">
                <div class="contact-info">
                    <h4>First name</h4>
                    <%= contact.firstname %>
                </div>
                <div class="contact-info">
                    <h4>Last name</h4>
                    <%= contact.lastname %>
                </div>
                <div class="contact-info">
                    <h4>Email</h4>
                    <%= contact.email %>
                </div>
                <div class="contact-info">
                    <h4>Phone number</h4>
                    <%= contact.phone %>
                </div>
                <div class="buttons">
                    <button class="delete-button">Delete</button>
                    <button class="edit-button">Edit</button>
                </div>

                <dialog data-modal>
                    <form action="/user" id="edit-form">
                        <input type="text" name="name" id="firstname">
                        <input type="text" name="name" id="lastname">
                        <input type="text" name="email" id="email">
                        <input type="number" name="phone" id="phone">
                        <button id="save-button">Save</button>
                    </form>
                    <button data-close-modal>Close</button>
                </dialog>
            </div>
            <% }); %>
    </div>

</body>
<script src="../public/js/main.js"></script>

</html>